.footer {
   background-color: #f3f3f3;
   padding: 80px 0px 90px 0px;

   &__row {
      @include flexbox();
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__title {
      color: #323a45;
      font-family: BigJohn;
      font-size: 25px;
      font-weight: 400;
      line-height: 12px;
      margin: 0px 0px 25px 0px;
   }

   &__text {
      color: #81868e;
      font-size: 14px;
      letter-spacing: 0.7px;
      margin: 0px 0px 35px 0px;
   }

   &__social {
   }

   &__icon {
      margin: 0px 10px 0px 0px;
      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
}
//====================================================================================================

//====================================================================================================
