//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0, 0, 0, 0.9);
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	z-index: 100;

	&__title {
		color: #333b46;
		font-family: "Source Sans Pro";
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin: 0px 0px 20px 0px;
	}

	&__txt {
		color: #81868e;
		max-width: 300px;
		text-align: center;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.7px;
		margin: 0px 0px 20px 0px;
	}
}
.popup-table {
	height: 100%;
	table-layout: fixed;
	> .cell {
		height: 100%;
		vertical-align: middle;
		padding: 30px 10px;
	}
}
.popup-content {
	//@include scale(0);
	//@include anim(0.3s, 0s);
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	max-width: 500px;
	margin: 0px auto;
	border-radius: 5px;
	padding: 40px 20px;
	background-color: #fff;
}
.popup-close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-form {
	width: 100%;
	padding: 0px 40px;
}
.form {
	&__btn {
	}
}
.form-input {
	margin: 0px 0px 20px 0px;
	width: 100%;
}
.input {
}
.req {
}
.email {
}
.form-button {
}
.btn {
}
.fw {
}

//====================================================================================================
//====================================================================================================
