//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&display=swap");
//</Подключаем шрифты>=======================================================================================
@import "fonts";
//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Open Sans", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//font-family: 'Open Sans', sans-serif;

//font-family: 'Roboto', sans-serif;

//font-family: SourceSansProBlack;

//font-family: SourceSansPro;

//font-family: BigJohn;

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	font-family: $fontfamily;
	color: #81868e;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.7px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	& h2 {
		color: #333b46;
		font-family: SourceSansPro;
		font-size: 20px;
		font-weight: 300;
		line-height: 20px;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
	& .grup-title {
		text-align: center;
	}
	& .grup-title__title {
		font-size: 20px;
		letter-spacing: 4px;
	}
	.grup-title__text {
		padding: 30px 0px 0px 0px;
		font-size: 14px;
		letter-spacing: 0.7px;
		max-width: 460px;
	}
	.icon {
		width: 53px;
		height: 53px;
		text-align: center;
		border-radius: 50%;
		background-color: #81868e;
		padding: 10px 0px;
		flex: 1 1 26px;
		&img {
			width: 100%;
		}
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.hello {
	height: 100vh;
}
.hello__colomn {
	@include flexbox();
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding: 190px 0px 75px 0px;
}
.hello__title {
	text-align: center;
	position: relative;
	color: #ffffff;
	font-family: SourceSansPro;
	font-size: 35px;
	font-weight: 300;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 7px;
	z-index: 2;
	margin: 0px 0px 15px 0px;
}
.hello__text {
	text-align: center;
	position: relative;
	flex: 1 1 auto;
	max-width: 610px;
	height: 100%;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.8px;
	z-index: 2;
}
.hello__arrow {
	flex: 0 0 36px;
	position: relative;
	height: 36px;
	width: 36px;
	text-align: center;
	border-radius: 50%;
	background-color: #19bd9a;
	transition: all 0.4s linear 0s;
	z-index: 2;
}
.hello__arrow:hover {
	background-color: transparent;
	border: 1px solid #fff;
}
.hello__arrow img {
	max-width: 100%;
	margin: 0px auto;
}
.main-box__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media (max-width: $md1+px) {
	max-width: 970px;
}
@media (max-width: $md2+px) {
	max-width: 750px;
}
@media (max-width: $md3+px) {
	max-width: none;
	padding: 0 10px;
}
//====================================================================================================
.bouncy {
	padding: 0px 0px 80px 0px;
}
.bouncy__row {
	@include flexbox();
	justify-content: space-between;
	padding: 0px 150px;
}
.bouncy__colomn {
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	&:last-child {
		margin: 0;
	}
}
.bouncy__title {
	margin: 0px 0px 50px 0px;
}
.bouncy__text {
	font-size: 14px;
	margin: 0px 0px 30px 0px;
	max-width: 466px;
}
@media (max-width: $md1+px) {
	.bouncy {
		padding: 50px 0px;
	}
}
@media (max-width: $md2+px) {
	.bouncy {
		margin: -50px 0px 0px 0px;
	}
	.bouncy__row {
		flex-direction: column;
		padding: 0px 20px;
		align-items: center;
	}
	.bouncy__text {
		max-width: none;
		align-self: center;
		text-align: justify;
		margin: 0px;
	}
	.bouncy__colomn {
		text-align: center;
		align-items: center;
	}
	.bouncy__button {
		margin: 30px auto;
	}
	.bouncy__item {
		background-color: #aa6;
	}
}
@media (max-width: $md3+px) {
	padding: 0;
}
//====================================================================================================
.details {
	background-color: #f3f3f3;
	padding: 80px 0px;
}
.details__content {
	padding: 0px 80px;
}
.details__row {
	@include flexbox();
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.details-tabs {
	margin: 80px 0px 0px 0px;
	@include flexbox();
	align-items: center;
	justify-content: center;
	& .active {
		background-color: #19bd9a;
	}
	&__nav {
		@include flexbox();
		flex-direction: column;
		margin: 0px 45px 0px 0px;
	}
	&__link {
		margin: 0px 0px 15px 0px;
		height: 53px;
		width: 53px;
		background-color: #81868e;
		border-radius: 50%;
		flex: 0 0 53px;
		@include flexbox();
		justify-content: center;
		& img {
			max-width: 100%;
		}
	}
	&__content {
		align-self: center;
		@include flexbox();
		flex-direction: column;
	}
	&__item {
		@include flexbox();
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

.details-tabs__subtitle {
	color: #464646;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin: 0px 0px 30px 0px;
	letter-spacing: 0.8px;
	align-self: flex-start;
}

.details-tabs__colomn {
	@include flexbox();
	justify-content: space-between;
	& p {
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.8px;
	}
	& p:last-child {
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0.7px;
		margin: 0px 0px 0px 130px;
	}
}
.text__green {
	color: #19bd9a;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.text__bold {
	color: #636971;
	font-weight: 700;
	letter-spacing: 0.8px;
}

@media (max-width: $md1+px) {
	.details__content {
		padding: 0px 30px;
	}
}
@media (max-width: $md2+px) {
	.details-tabs__colomn {
		& p {
			flex: 0 1 50%;
			text-align: justify;
		}
		& p:last-child {
			margin: 0px 0px 0px 40px;
		}
	}
}
@media (max-width: $md3+px) {
	.details-tabs {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px 0px;
		&__nav {
			flex-direction: row;
			margin: 0px 0px 30px 0px;
		}
		&__link {
			margin: 0px 20px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	.details-tabs__subtitle {
		text-align: center;
		align-self: center;
	}
	.details-tabs__colomn {
		justify-content: space-between;
		flex-direction: column;
		& p {
		}
		& p:last-child {
			font-size: 16px;
			line-height: 25px;
			letter-spacing: 0.7px;
			margin: 20px 0px 0px 0px;
		}
	}
}
//====================================================================================================
.projects {
	background-color: #fff;
	padding: 80px 0px 0px 0px;
	@include flexbox();
	flex-direction: column;
}
.grup-title {
	align-self: center;
}
.projects__text {
	font-size: 14px;
	max-width: 460px;
}
.projects__images {
	height: 320px;
	margin: 80px 0px 0px 0px;
	@include flexbox();
	& .projects__images-box {
		display: flex;
		flex: 0 0 50%;
	}
	& .projects__img1 {
		background: url("../../img/Featured_projects/01.jpg") left top no-repeat;
		background-size: cover;
	}
	& .projects__img2 {
		flex: 0 0 50%;
		background: url("../../img/Featured_projects/02.jpg") left top no-repeat;
		background-size: cover;
	}
	& .projects__img3 {
		flex: 0 0 50%;
		background: url("../../img/Featured_projects/04.jpg") left top no-repeat;
		background-size: cover;
	}
}
.projects__footer {
	background-color: #19bd9a;
}
.projects__footer-bg {
	background: url("../../img/Featured_projects/bottom_img.png") left top no-repeat;
	background-size: cover;
}
.projects__footer-body {
	@include flexbox();
	justify-content: space-between;
	text-align: center;
	padding: 45px 70px;
}
.projects__footer-text {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.8px;
	&span {
		font-weight: 700;
		letter-spacing: 0.8px;
	}
}
.projects__button {
	color: #fff;
	border: 1px solid #fff;
}
@media (max-width: $md2+px) {
	.projects__images {
		& .projects__images-box {
			display: flex;
			flex: 0 0 50%;
		}
		& .projects__img2 {
			display: none;
		}
		& .projects__img3 {
			flex: 0 0 100%;
		}
	}
	.projects__button {
		width: 200px;
	}
}
@media (max-width: $md3+px) {
	.projects__images {
		height: none;
		height: 320px;
		flex-direction: column;
		& .projects__images-box {
			display: flex;
			flex: 0 0 100%;
		}
		& .projects__img3 {
			display: none;
		}
	}
	.projects__button {
		width: 200px;
	}
	.projects__footer-body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& .projects__footer-text {
			margin: 0px 0px 20px 0px;
		}
	}
}

//====================================================================================================
.services {
	background-color: #f3f3f3;
	padding: 80px 0px 100px 0px;
}
.services_top {
	@include flexbox();
	flex-direction: column;
}
.projects__title {
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.projects__text {
	align-self: center;
	font-size: 14px;
	max-width: 460px;
}

.services-tabs {
	@include flexbox();
	padding: 80px 0px 0px 0px;
	& .active {
		background-color: #19bd9a;
	}
}
.services-tabs__nav {
	@include flexbox();
	flex-direction: column;
	margin: 0px 45px 0px 0px;
	& :nth-child(1) {
		padding: 0px 0px 0px 0px;
	}
	& :nth-child(2) {
		padding: 3px 0px 0px 0px;
	}
	& :nth-child(3) {
		padding: 0px 0px 5px 0px;
	}
	& :nth-child(4) {
		padding: 0px 0px 0px 3px;
	}
	& :last-child {
		margin: 0px;
	}
}
.services-tabs__link {
	margin: 0px 0px 15px 0px;
	height: 53px;
	width: 53px;
	background-color: #81868e;
	border-radius: 50%;
	flex: 0 0 53px;
	@include flexbox();
	justify-content: center;
	& img {
		max-width: 100%;
	}
}
.services-tabs__item {
	@include flexbox();
	justify-content: space-between;
	align-items: center;
}
.services-tabs__left {
	flex: 1 1 50%;
	font-family: "Open Sans";
	margin: 0px 80px 0px 0px;
	& h3 {
		color: #464646;
		font-size: 20px;
		letter-spacing: 0.8px;
		margin: 0px 0px 35px 0px;
	}
	& p {
		color: #81868e;
		font-size: 16px;
		letter-spacing: 0.8px;
		margin: 0px 0px 40px 0px;
		line-height: 25px;
		text-align: justify;
	}
	& p:last-child {
		margin: 0px;
	}
}
.services-tabs__right {
	flex: 1 1 50%;
	@include flexbox();
	align-items: center;
	justify-content: space-between;
}
.services-tabs__skills {
	@include flexbox();
	flex-direction: column;
}

.services-tabs__skill {
	text-align: center;
	color: #81868e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 0.8px;
}
//---------------------
.body-grafic {
	padding: 50px 0px;
	margin: 0px auto;
	@include flexbox();
	justify-content: center;
	align-items: center;
}
.grafic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	@include flexbox();
	justify-content: center;
	align-items: center;
	background-color: #19bd9a;
	overflow: hidden;
	position: relative;
	z-index: 1;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-color: #19bd9a;
		z-index: 2;
	}
}
.grafic__line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//transform: rotate(306deg);
	&.line__a {
		transform: rotate(306deg);
	}
	&.line__b {
		transform: rotate(270deg);
	}
	&.line__c {
		transform: rotate(234deg);
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		background-color: #047378;
	}
}

.grafic__body {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #f3f3f3;
	text-align: center;
	overflow: hidden;
	z-index: 4;
}
.grafic__counter {
	& .grafic__number {
		color: #81868e;
		font-size: 25px;
		font-family: "Open Sans";
		display: flex;
		justify-content: center;
		align-items: center;
		height: 110px;
		&:after {
			content: "%";
			font-size: 18px;
		}
	}
}
@keyframes counter-graficA {
	0% {
	}
	100% {
		transform: translate(0px, -1650px);
	}
}
@keyframes counter-graficB {
	0% {
	}
	100% {
		transform: translate(0px, -1430px);
	}
}
@keyframes counter-graficC {
	0% {
	}
	100% {
		transform: translate(0px, -1210px);
	}
}
@media (max-width: $md2+px) {
	.services-tabs {
		flex-direction: column;
	}
	.services-tabs__nav {
		flex-direction: row;
		margin: 0px 0px 30px 0px;
		justify-content: center;
		align-items: center;
		& .services-tabs__link {
			margin: 0px 30px 0px 0px;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	.services-tabs__item {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.services-tabs__left {
		margin: 0px 0px 20px 0px;
		& h3 {
			text-align: center;
		}
		& p {
			text-align: center;
		}
	}
	.services-tabs__skills {
		margin: 0px 50px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
@media (max-width: 555px) {
	.services-tabs__skills {
		margin: 0px 20px 0px 0px;
	}
}
@media (max-width: $md4+px) {
	.body-grafic {
		padding: 0px;
		margin: 0px 20px 0px 0px;
	}
	.services-tabs__right {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.services-tabs__skills {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0px 0px 20px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
//====================================================================================================
.impressed {
	padding: 50px 0px 50px 0px;
	background-color: #000;
	position: absolute;
	width: 100%;
	max-height: 400px;

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url("../../img/Services/services_bg.png") 0 0 / cover no-repeat;
	}
	&__row {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		margin: 0px 50px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__title {
		color: #f3f3f3;
		font-family: SourceSansPro;
		font-size: 20px;
		font-weight: 300;
		line-height: 12px;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin: 0px 0px 60px 0px;
	}

	&__text {
		color: #b2b3b3;
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.8px;
		margin: 0px 0px 35px 0px;
	}

	&__name {
		color: #b2b3b3;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;
	}

	&__profession {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		& span {
			color: #19bd9a;
			letter-spacing: 0.7px;
		}
	}
}
.right__impressed {
	justify-content: center;
	align-items: center;
	position: relative;
	top: -100px;
	& .impressed__imac-text {
		position: absolute;
		top: 32%;
		left: 32%;
		text-align: center;
		opacity: 0.8;
		color: #ffffff;
		font-family: BigJohn;
		font-size: 30px;
		& span {
			color: #19bd9a;
		}
	}
}
@media (max-width: $md2+px) {
	.impressed__text {
		text-align: justify;
	}
}
@media (max-width: $md3+px) {
	.impressed__title {
		text-align: center;
	}
	.impressed__text {
		text-align: center;
	}
	.impressed__name {
		text-align: center;
	}
	.impressed__profession {
		text-align: center;
	}
	.right__impressed {
		top: 20px;
	}
	.impressed__row {
		flex-direction: column;
	}
}

//====================================================================================================

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
